*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#FFF8E7,#F3E460);
    color:#333;
    padding-top:90px;
}

.navbar-brand{
    color:#d35400 !important;
}

.nav-link{
    color:#333 !important;
    transition:.3s;
}

.nav-link:hover{
    color:#e67e22 !important;
}

.inicio{
    background:#fff;
    border-radius:20px;
    padding:50px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.inicio h1{
    color:#d35400;
}

.inicio h2{
    color:#e67e22;
    margin-top:25px;
    margin-bottom:15px;
}

.inicio p{
    line-height:1.8;
    text-align:justify;
}

.inicio ul{
    margin-left:20px;
    line-height:1.8;
}

.inicio img{
    max-width:500px;
    width:100%;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

section h2{
    color:#d35400;
}

.card{
    border:none;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card-body{
    padding:30px;
}

.card h3{
    color:#e67e22;
}

.card p{
    line-height:1.8;
    text-align:justify;
}

.card img{
    width:100%;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.footer {
  background: linear-gradient(135deg, #FFF8E7, #F3E460);
  padding: 50px 0;
}

.footer-list li {
  margin-bottom: 8px;
}

.footer-divider {
  border-color: rgba(255, 255, 255, .3);
}

.footer p,
.footer li,
.footer small {
  color: #333;
}

.footer-link {
  text-decoration: none;
  color: #333;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.footer-link i {
  font-size: 1.2rem;
}

.footer-link:hover {
  color: #d35400;
  transform: translateX(5px);
}

@media (max-width:992px){

    .inicio{
        padding:35px;
    }

    .inicio h1{
        text-align:center;
        font-size:2.2rem;
    }

    .inicio p{
        text-align:left;
    }

    .inicio ul{
        margin-top:20px;
    }

    .card{
        text-align:center;
    }

    .card p{
        text-align:left;
    }

    .card img{
        margin-top:20px;
    }
}

@media (max-width:576px){

    body{
        padding-top:80px;
    }

    .inicio{
        padding:25px;
    }

    .inicio h1{
        font-size:1.8rem;
    }

    .navbar-brand{
        font-size:1.4rem !important;
    }
}